{{define "bottom"}}
</main>
<footer>
    <ul>
        <li><a href="https://instagram.com/mhaatha">Instagram</a></li>
        <li><a href="https://github.com/mhaatha">GitHub</a></li>
    </ul>
</footer>
</body>
</html>
{{end}}